.container {
  &.mt-30 {
    margin-top: 30px;
  }

  &__title-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product_img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  .product_name {
    margin-top: 20px;
    font-size: 18px;
  }
}
